:root{
    --main-color: rgb(72, 30, 20);
    --secondary-color: rgb(12, 12, 12);
    --acent-color: rgb(155, 57, 34);
    --acent-color-toned: rgb(122, 43, 25);
    --tertriary-color: rgb(242, 97, 63);
    --darker-red: rgb(66, 12, 0);
}
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-direction: row;
}

aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100vh;
    background-color: var(--main-color);
}
.menu{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: auto;
    background-color: var(--acent-color);
}
.list-item{
    text-align: center;
    margin-top: 3vh;
    list-style: none;
}
.active{
    text-align: center;
    margin-top: 3vh;
    list-style: none;
}
.active a{
    text-decoration: none;
    font-size: 3vw;
    color: wheat;
    padding: 1vh;
    border-radius: 1.5vw;
    background-color: var(--darker-red);
}
.list-text{
    color: wheat;
    text-decoration: none;
    font-size: 3vw;
    padding: 1vh;
    border-radius: 1.5vw;
    background-color: var(--acent-color-toned);
}
.menu li a:hover{
    background-color: var(--tertriary-color);
}

footer{
    background-color: var(--acent-color);
    padding: 1vw;
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
footer a {
    margin: 0;
}
.facebook-logo, .insta-logo, .email-logo{
    max-width: 4vw;
    max-height: 4vw;
}
article{
    margin-top: 3vw;
    margin-left: 3vw;
    width: 73vw;
    height: 200vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
main {
    width: 80vw;
    height: auto;
    margin-top: 0vh;
    margin-left: 20vw;
    background-color: var(--secondary-color);
    
}
.main-img{
    margin-top: 3vw;
    max-width: 30vw;
}
.text-area{
    background-color: var(--tertriary-color);
    margin-top: 2vw;
    width: 30vw;
    height: auto;
   
}
.info-text{
    margin: 3vw;
    color: rgb(243, 233, 216);
}
.current-page{
    position: fixed;
    right: 35vw;
    top: 2vh;
    text-align: center;
    color: rgb(222, 203, 168, 1);
    font-size: 2vw;
    border-radius: 2vw;
    width: 5vw;
    padding: 2vw;
    background-color: var(--acent-color-toned);
    opacity: 0.75;
}
